@charset "utf-8";

* {
  all: unset;
  display: revert;
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;

  --white: rgb(255, 255, 255, 1.0);
  --black: rgb(0, 0, 0, 1.0);

  --background: light-dark(var(--white), var(--black));
  --foreground: light-dark(var(--black), var(--white));
}

html {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Noto Sans JP";
  font-size: 1.0875rem;
  font-weight: 500;
  line-height: 1.9;
}

ul {
  list-style-position: inside;
}

li {
  font-weight: bold;
}

h1 { font-size: clamp(2.5rem, 5.5vw, 4.25rem); }
h2 { font-size: clamp(2rem, 4.5vw, 3.5rem); }
h3 { font-size: clamp(1.2rem, 2.6vw, 2rem); }

section { padding: 0 clamp(1rem, 8vw, 12rem); }

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 35px;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

header.show {
  transform: translateY(0);
}

.header-content {
  position: relative;
  z-index: 10;
}

.progressive-blur-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 60px;
  pointer-events: none;
}

.progressive-blur-container > .blur-filter {
  position: absolute;
  inset: 0;
}

.progressive-blur-container > .blur-filter:nth-child(1) {
  backdrop-filter: blur(1px);
  mask: linear-gradient(to bottom, rgba(0,0,0,0) 60%, rgba(0,0,0,1) 70%, rgba(0,0,0,1) 90%, rgba(0,0,0,0));
}

.progressive-blur-container > .blur-filter:nth-child(2) {
  backdrop-filter: blur(2px);
  mask: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 60%, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 90%);
}

.progressive-blur-container > .blur-filter:nth-child(3) {
  backdrop-filter: blur(4px);
  mask: linear-gradient(to bottom, rgba(0,0,0,0) 40%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 85%);
}

.progressive-blur-container > .blur-filter:nth-child(4) {
  backdrop-filter: blur(8px);
  mask: linear-gradient(to bottom, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 40%, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 80%);
}

.progressive-blur-container > .blur-filter:nth-child(5) {
  backdrop-filter: blur(16px);
  mask: linear-gradient(to bottom, rgba(0,0,0,0) 10%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 60%);
}

.progressive-blur-container > .blur-filter:nth-child(6) {
  backdrop-filter: blur(32px);
  mask: linear-gradient(to bottom, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 40%);
}

.progressive-blur-container > .blur-filter:nth-child(7) {
  backdrop-filter: blur(64px);
  mask: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0) 30%);
}

.progressive-blur-container > .gradient {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, var(--background), transparent);
}



.spacer-1 { margin: 48px 0; }
.spacer-2 { margin: 24px 0; }
.center { text-align: center; }
.title {
  font-family: "BBH Hegarty", "Dela Gothic One";
}

.sections-nav {
  width: clamp(300px, 80%, 850px);
  margin: 0 auto;
  padding: 12px clamp(16px, 4vw, 48px);
  border: 1px solid var(--foreground);
}
